/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 100vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: 'Open Sans',Arial,sans-serif;
  background-color: #d1c8fd;
  height: 100vh;
  margin: 0;
  width: 100vw; /* 100% of viewport width */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  border: none; /* Remove border */
  box-sizing: border-box;
}

.navibar {
  font-family: Garamond, serif;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.container {
  padding:20px;
  margin-top:200px;
  height: 100vh;
  width: 100vw;
}

.hello {
  text-align: center;
  background-color: #ffffff; /* Background color for the hello div */
  padding: 20px; /* Padding around the content */
  border-radius: 10px; /* Rounded corners for the hello div */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  max-width: 500px; /* Set a maximum width for the hello div */
  margin: auto; /* Center the hello div horizontally */
}

.hello h4 {
  margin-bottom: 20px; /* Margin below the h4 heading */
  font-size: 24px; /* Font size for the heading */
  color: #22005e; /* Text color for the heading */
}

.hello a {
  margin: 0 10px; /* Margin between the icons */
  text-decoration: none; /* Remove underline from the links */
  color: #22005e; /* Text color for the icons */
}

.hello a:hover {
  color: #007bff; /* Text color for the icons on hover */
}

.container p.subhead {
  font-size: 1.5rem; 
  line-height: 0rem;
  color: #22005e;
  font-family: 'Courier New', monospace;
  text-align: center; 
}


.container h2.main {
  font-size: 3rem; 
  text-align: center; 
  line-height: 3rem;
  color: #22005e;
  
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

thead th {
    background-color: #f2f2f2;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #22005e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff; /* Background color for the hello div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
    max-width: 500px; /* Set a maximum width for the hello div */
    margin: auto;
}

button:hover {
    background-color: #695389;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #22005e;
}

h3 {
  font-size: 3rem; 
  text-align: left; 
  line-height: 3rem;
  color: #22005e;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d1c8fd;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float:left;
}

li a {
  display: block;
  color: #482A76 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #715995;
}

.skill-container {
    max-width: 600px;
    margin: 0 auto;
}

.container-skills {
    margin-bottom: 20px;
}

.skills {
    text-align: right;
    padding: 3px;
    color: white;
}

.html { width: 90%; background-color: #4CAF50; }
.css { width: 70%; background-color: #2196F3; }
.js { width: 85%; background-color: #f44336; }
.php { width: 90%; background-color: #FF9800; }


.active {
  background-color: #04AA6D;
}

.subhead {
  font-size: 1.222rem; 
  line-height: 1.667rem;
}

/* about page css */
.about p {
    font-size: 16px;
    line-height: 1.6;
    color: #666666;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.about-section {
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.profile-pic, .coding-pic {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.about-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.about-button:hover {
    background-color: #45a049;
}

#message {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin-top: 20px;
}

/*Contact me page*/
.form-title {
    margin-top: 20px;
    font-size: 24px;
    color: #333333;
}

.message-form {
    display: inline-block;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-textarea {
    height: 100px;
}

.form-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #22005e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff; /* Background color for the hello div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
    max-width: 500px; /* Set a maximum width for the hello div */
    margin: auto;
}

.form-button:hover {
    background-color: #45a049;
}

.form-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #D5CBE4;
}


/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}